{% extends 'base.html.twig' %}

{% block title %}{{ 'blog.title' | trans }} - {{ 'info.site.title' | trans }}{% endblock %}

{% block content %}
    {%  include "components/blog/index/breadcrumb.html.twig" %}

    <section id="blog" class="blog__container">
        <div class="fade-in-effects-initial"
             data-animation-fade-in-target="fadeIn"
             data-animation="fade-in-up-effects"
        >
            <div class="section-title link-effects blog__container-title"
                 data-target="blog"
                 data-action="click->scroll#scrollToSection"
            >
                {% embed 'assets/svg/blog-article.html.twig' %}
                    {% block attributes %}
                        aria-labelledby="blog__container-title-h2"
                    {% endblock %}
                {% endembed %}
                <h1 id="blog__container-title-h2">{{ 'blog.title' | trans }}</h1>
            </div>
        </div>

        <div class="card-list"
             data-controller="card"
        >
            {% for article in articles %}
                {% include "components/blog/index/card.html.twig" with {
                    'title': article.title,
                    'slug': article.slug,
                    'short_description': article.shortDescription,
                    'updated_at': article.updatedAt,
                    'image': article.coverImage,
                    'image_alt': article.coverImageAltText,
                } %}
            {% endfor %}
        </div>

        {% include "components/buttons/btn-go-to-home.html.twig" %}
    </section>
{% endblock %}