{% extends 'base.html.twig' %}

{% block title %}{{ 'blog.title' | trans }} - {{ 'info.site.title' | trans }} - {{ 'info.site.name' | trans }}{% endblock %}

{% block content %}
    {%  include "components/blog/index/breadcrumb.html.twig" %}

    <section id="blog" class="blog__container">
        <div class="fade-in-effects-initial"
             data-animation-fade-in-target="fadeIn"
             data-animation="fade-in-up-effects"
        >
            <div class="section-title link-effects blog__container-title">
                {% embed 'assets/svg/blog-post.html.twig' %}
                    {% block attributes %}
                        aria-labelledby="blog__container-title-h2"
                    {% endblock %}
                {% endembed %}
                <h2 id="blog__container-title-h2">{{ 'blog.title' | trans }}</h2>
            </div>
        </div>

        <div class="blog__container-posts"
             data-controller="blog-card"
        >
            {% for post in posts %}
                {% include "components/blog/index/card.html.twig" with {
                    'title': post.title,
                    'content': post.content,
                    'image': post.image,
                    'tags': post.tags,
                    'updated_at': post.updated_at,
                    'slug': post.slug
                } %}
            {% endfor %}
        </div>

        {% include "components/buttons/btn-return-to-home.html.twig" %}
    </section>
{% endblock %}