.home-contact__container {
    background-color: var(--color-primary);
    @include flex-container(column, space-between, center);

    form {
        background-color: var(--color-secondary);
        padding: 1.5rem;
        width: 50%;

        input,
        textarea {
            background-color: var(--color-primary);
            color: var(--color-text);
            width: 100%;
        }

        .form-switch {
            &-text {
                font-size: calc(0.8 * $font-size-text);
            }
        }

        .custom-file-input-wrapper {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 1rem;
            background-color: var(--color-primary);
            border: solid 0.2rem var(--color-tertiary);

            .btn {
                border: none;
                border-radius: 0;
                text-transform: none;

                &:hover {
                    transform: none;
                }

                &:active {
                    animation: none;
                }
            }

            .custom-file-button {
                display: inline-block;
                background-color: var(--color-primary);
                border-right: solid 0.15rem var(--color-text) !important;
                cursor: pointer;
            }
        }

        button {
            background-color: var(--color-primary);
        }
    }

    @include respond-to('breakpoint-768') {
        form {
            .form-switch {
                &-text {
                    font-size: $font-size-text;
                }
            }

            .form-identity-group {
                input {
                    width: 47.5%;
                }
            }
        }
    }
}
