.home-contact__container {
    background-color: var(--color-primary);
    @include flex-container(column, space-between, center);

    form {
        background-color: var(--color-secondary);

        input,
        textarea {
            background-color: var(--color-primary);
            color: var(--color-text);
        }

        button {
            background-color: var(--color-primary);
        }
    }
}
