.home-hero__container {
    @include flex-container(column, space-between);
    background-color: var(--color-secondary);

    &-content {
        @include flex-container(row, center);
        gap: 2.5rem;

        &-image {
            width: 35%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: auto;
                max-width: 500px;
            }
        }

        &-presentation {
            width: 60%;

            &-title {
                &-main {
                    font-size: calc(3.75 * $font-size-h2);
                }

                &-secondary {
                    font-size: calc(1.75 * $font-size-h3);
                }
            }

            &-description {
                margin-top: 2rem;
                font-size: calc(1.35 * $font-size-text);

                p {
                    margin-bottom: 1rem;
                }
            }

            &-cta {
                @include flex-container(row, start);
                gap: 2.5rem;
                margin-top: 2rem;
            }
        }
    }
}
