.home-hero__container {
    @include flex-container(column, space-between);
    background-color: var(--color-secondary);

    &-content {
        @include flex-container(row, center);
        gap: 2.5rem;

        &-image {
            width: 35%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: auto;
                max-width: 500px;
            }
        }

        &-presentation {
            width: 60%;

            &-title {
                h2, h3 {
                    opacity: 0;
                }

                span {
                    will-change: transform, opacity;

                    &:first-child {
                        margin-left: 0;
                    }
                }

                &-main {
                    font-size: calc(3.75 * $font-size-h2);

                    span span {
                        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
                    }
                }

                &-secondary {
                    font-size: calc(1.75 * $font-size-h3);

                    span span {
                        transition-timing-function: ease-out !important;
                    }
                }
            }

            &-description {
                margin-top: 2rem;
                font-size: calc(1.35 * $font-size-text);

                p {
                    margin-bottom: 1rem;
                }
            }

            &-cta {
                @include flex-container(row, start);
                gap: 2.5rem;
                margin-top: 2rem;
            }
        }
    }
}