.home-portfolio__container {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-projects {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, auto));
        gap: 3rem;

        &-card {
            background-color: var(--color-secondary);
            cursor: pointer;
            border: 0.15rem solid var(--color-text);
            border-radius: 1rem;

            &:hover {
                transform: scale(1.025);
                box-shadow: 0 4px 6px var(--color-text);
                opacity: 0.8;
            }

            img {
                width: 100%;
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
                border-bottom: 0.1rem solid var(--color-text);
            }

            &-content {
                padding: 0.75rem;

                &-title {
                    font-size: calc(0.8 * $font-size-h3);
                }
            }
        }
    }

    @include respond-to('breakpoint-992') {
        &-projects {
            grid-template-columns: repeat(auto-fill, minmax(350px, auto));
        }
    }

    @include respond-to('breakpoint-1200') {
        &-projects {
            grid-template-columns: repeat(auto-fill, minmax(450px, auto));
        }
    }
}
