.home-reviews__container {
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .section-title {
        margin-bottom: 2rem;
    }

    &-carousel {
        position: relative;
        overflow: hidden;

        &-item {
            display: none;
            height: 20rem;
            width: 100%;
            transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

            &.active {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            &.previous {
                @include animation-disappears();
            }

            &.new {
                @include animation-appears();
            }

            &-quote {
                font-size: calc(0.85 * $font-size-text);

                svg {
                    height: calc(0.85 * $font-size-text);
                    width: auto;
                }
            }

            hr {
                border: 0.15rem solid var(--color-text);
                margin: 0.75rem 0;
                width: 100%;
            }

            &-infos {
                display: none;
            }

            &-infos-mobile {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                font-size: calc(0.85 * $font-size-text);
            }
        }

        &-btn-previous-item,
        &-btn-next-item {
            display: none;
        }

        &-btn-mobile {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 0.75rem;

            .btn {
                background-color: var(--color-primary);
                width: 6.5rem;
                font-size: calc(0.8 * $font-size-text);
                padding: 0.5rem 0.75rem;

                &:hover {
                    transform: scale(1);
                }

                &:active {
                    @include animation-pressed(0.9);
                }
            }
        }
    }

    &-btn-open-popup-add-review {
        @extend %flex-center;
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;

        .btn {
            background-color: var(--color-primary);
            font-size: $font-size-text;
        }
    }

    &-popup-add-review {
        &-title {
            margin: 1rem 0;
            text-align: center;
        }

        form {
            border: none;

            input,
            textarea {
                background-color: var(--color-primary);
                color: var(--color-text);
            }

            button {
                background-color: var(--color-primary);
            }

            .form-group,
            .form-identity-group {
                margin-bottom: 1rem;
            }
        }

        &-form-btn {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &-btn-close {
            background-color: transparent;
            border: none;
            transition: transform 0.5s ease-in-out;
            position: absolute;
            top: 0.3rem;
            right: 0.3rem;

            svg {
                height: 1.5rem;
                width: auto;
            }
        }
    }

    @include respond-to('breakpoint-768') {
        &-carousel {
            &-item {
                &-quote {
                    font-size: $font-size-text;
                }

                &-author,
                &-source {
                    font-size: $font-size-text;
                }
            }
        }

        &-btn-open-popup-add-review {
            .btn {
                font-size: calc(1.5 * $font-size-text);
            }
        }

        &-popup-add-review {
            form {
                padding: 0;

                .form-group,
                .form-identity-group {
                    margin-bottom: 1.5rem;
                }
            }

            &-form-btn {
                justify-content: flex-start;

                button {
                    margin-right: 1.5rem;
                }
            }

            &-btn-close {
                svg {
                    height: 2.5rem;
                }
            }
        }
    }

    @include respond-to('breakpoint-1200') {
        &-carousel {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &-item {
                &-quote {
                    font-size: calc(1.2 * $font-size-text);
                    width: 85%;

                    svg {
                        height: 1.2rem;
                    }
                }

                hr {
                    width: 85%;
                }

                &-infos {
                    width: 85%;
                    display: flex;
                    flex-direction: column;

                    &-author,
                    &-source {
                        font-size: calc(1.2 * $font-size-text);
                    }
                }

                &-infos-mobile {
                    display: none;
                }
            }

            &-btn-previous-item,
            &-btn-next-item {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                border: none;
                transition: transform 0.5s ease-in-out;

                svg {
                    height: 5rem;
                    width: auto;
                }
            }

            &-btn-mobile {
                display: none;
            }
        }

        &-btn-open-popup-add-review {
            .btn {
                font-size: calc(1.75 * $font-size-text);
            }
        }
    }
}
