.btn {
    position: relative;
    overflow: hidden;
    border-color: var(--color-text);
    border: solid 0.15rem var(--color-text);
    border-radius: 0.5rem 0 0.5rem 0;
    font-size: $font-size-text;
    padding: 0.75rem 1.25rem;
    text-transform: uppercase;
    transition: color 0.5s, background-color 0.5s, transform 0.5s;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(var(--color-tertiary-r), var(--color-tertiary-g), var(--color-tertiary-b), 0.25);
        transition: left 0.5s;
    }

    &:hover::after {
        left: 0;
    }

    &:hover {
        transform: scale(1.05);
    }

    &:active {
        @include animation-pressed(0.9);
    }
}

#btn-scroll-to-top {
    button {
        position: fixed;
        right: 0.75rem;
        background-color: transparent;
        padding: 0;
        border: none;
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

        &.visible {
            opacity: 1;
            visibility: visible;
        }
    }

    svg {
        height: 2.7rem;
        width: auto;
        rotate: 270deg;
        @extend %flex-center;

        &:hover {
            opacity: 0.8;
        }
    }
}

#btn-scroll-to-next-section {
    @extend %flex-center;
    margin-top: 2rem;

    button {
        background-color: transparent;
        border: none;
        transition: transform 0.5s ease-in-out;
    }

    svg {
        height: 5rem;
        width: auto;
        @include animation-bounce(1.75s, infinite);
        transition: transform 0.5s ease-in-out;

        &.scale-effects {
            &:hover {
                animation: none;
                opacity: 0.8;
                transform: scale(1.15);
            }

            &:active {
                @include animation-pressed(0.9);
            }
        }

        &.rotate-up-effects {
            animation: none;
            transform: rotate(180deg);

            &:hover {
                transform: rotate(180deg) scale(1.15);
            }
        }
    }

    @include respond-to('breakpoint-768') {
        svg {
            height: 6.5rem;
        }
    }
}

.btn-dark-mode,
.btn-light-mode {
    opacity: 1;
}

.btn-return-to-home {
    .btn {
        background-color: var(--color-primary);
    }
}