.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: var(--color-secondary);
    padding: 20px;
    border: solid 0.15rem var(--color-text);
    border-radius: 0.5rem;
    width: 80%;
    max-height: 95vh;
    overflow-y: auto;
    transform: translate(-50%, -50%);
}
