.footer__container {
    display: none;
}

.footer__container,
.footer-mobile__container {
    background-color: $color-primary;
}

.footer-mobile__container {
    font-size: calc(0.9 * $font-size-text);

    hr {
        border: 0.1rem solid $color-tertiary;
        margin: 0 1.5rem;
    }

    &-contact {
        padding-top: 2rem;
    }

    &-company {
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    &-about,
    &-links {
        padding: 2rem 0;
    }

    &-contact-title,
    &-company-title,
    &-about-title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.3rem;

        h2 {
            font-size: calc(0.75 * $font-size-h2);
            padding: 0 0.3rem;
        }
    }

    &-contact-list,
    &-links-social {
        ul {
            @extend %flex-row;
            justify-content: center;
            align-items: center;
        }

        &-item {
            padding: 0 0.4rem;
        }
    }

    &-links-social {
        ul > li:nth-child(1) {
            padding-left: 0;
        }
    }

    &-company-text,
    &-about-text {
        text-align: center;
    }

    &-about-text {
        opacity: 0.6;
    }

    &-links {
        @extend %flex-row;
        justify-content: space-between;
        align-items: center;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        opacity: 0.6;

        &-list-item {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }
}

@media (min-width: 768px) {
    .footer-mobile__container {
        font-size: calc(1 * $font-size-text);

        hr {
            margin: 0 2.5rem;
        }

        &-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 2.5rem;
        }

        &-contact,
        &-company {
            padding: 2rem 0;
        }

        &-links {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }
    }
}

@media (min-width: 1400px) {
    .footer-mobile__container {
        display: none;
    }

    .footer__container {
        padding: 2.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-about-title,
        &-contact-title,
        &-company-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 0.5rem;
            height: 2.5rem;

            h2 {
                font-size: calc(0.9 * $font-size-h2);
            }

            svg {
                height: calc(0.9 * $font-size-h2);
                width: auto;
                margin-right: 0.5rem;
            }
        }

        &-about-text {
            opacity: 0.6;
        }

        &-links-list {
            &-item {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                opacity: 0.6;
            }
        }

        &-links-social {
            margin-bottom: 0.5rem;
            height: 2.5rem;

            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-top: 0.35rem;
            }

            svg {
                height: calc(0.9 * $font-size-h2);
                width: auto;
                opacity: 0.6;
            }
        }
    }
}
