.header {
    position: sticky;
    width: 100%;
    top: 0;
}

.header__headband,
.header__container {
    @include flex-container(row, space-between, center);
}

.header__headband {
    background-color: var(--color-primary);
    padding: 0.5rem 1.5rem;

    .language-icons {
        border: 0.1rem solid var(--color-text);
        border-radius: 100%;
    }

    &-left-list,
    &-right-list {
        @extend %flex-row;

        :not(:last-child) {
            margin-right: 0.5rem;
        }

        span {
            display: none;
        }
    }

    @include respond-to('breakpoint-768') {
        padding: 0.5rem 2.5rem;

        :not(:last-child) {
            margin-right: 0.75rem;
        }

        &-left-list,
        &-right-list {
            span {
                display: inline;
            }
        }
    }
}

.header__container {
    background-color: var(--color-tertiary);
    min-height: 5.5rem;
    padding: 1rem 1.5rem;

    &-title {
        display: none;
        font-size: calc(1.25 * $font-size-h1);
    }

    &-title-mobile {
        svg {
            height: 3.5rem;
            width: auto;
        }
    }

    &-menu-close {
        display: none;
    }

    &-menu-open,
    &-menu-close {
        background-color: transparent;
        border: none;

        svg {
            height: 3rem;
            width: auto;
        }

        &.rotate-up {
            @include animation-rotateUp;
        }

        &.rotate-down {
            @include animation-rotateDown;
        }

        .icon-effects {
            &:hover {
                @include animation-pulse(1.15);
                transform: scale(1);
            }

            &:active {
                animation: none;
            }
        }
    }

    @include respond-to('breakpoint-768') {
        padding: 1rem 2.5rem;

        &-title {
            display: block;
        }

        &-title-mobile {
            display: none;
        }

        &-menu-open,
        &-menu-close {
            svg {
                height: 3rem;
            }
        }
    }
}
