.footer__container,
.footer-mobile__container {
    background-color: var(--color-tertiary);
}

.footer__container {
    display: none;

    @include respond-to('breakpoint-1400') {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2.5rem;

        &-about-title,
        &-contact-title,
        &-company-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 0.5rem;
            height: 2.5rem;

            h2 {
                font-size: $font-size-h2;
            }

            svg {
                height: $font-size-h2;
                width: auto;
                margin-right: 0.5rem;
            }
        }

        &-about-text,
        &-company-text,
        &-company-title h2,
        &-company-title svg {
            opacity: 0.6;
        }

        &-links {
            min-width: 10rem;
        }

        &-links-various {
            &-item {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                a {
                    opacity: 0.6;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        &-links-social {
            margin-bottom: 0.5rem;
            height: 2.5rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 0.35rem;

            svg {
                height: 1.7rem;
                width: auto;
                opacity: 0.6;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.footer-mobile__container {
    font-size: calc(0.9 * $font-size-text);

    hr {
        border: 0.1rem solid var(--color-text);
        margin: 0 1.5rem;
    }

    &-contact {
        padding-top: 2rem;

        &-meeting {
            text-align: center;
        }

        &-list {
            @include flex-container(column, center, center);
            
            &-item {
                padding: 0 0.75rem;
            }
        }
    }

    &-company {
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    &-about,
    &-links {
        padding: 2rem 0;
    }

    &-contact-title,
    &-company-title,
    &-about-title {
        @include flex-container(row, center, center);
        margin-bottom: 0.3rem;

        h2 {
            font-size: $font-size-h2;
            padding: 0 0.3rem;
        }

        svg {
            height: $font-size-h2;
            width: auto;
        }
    }

    &-contact-list,
    &-links-social {
        @extend %flex-row;
        justify-content: center;
        align-items: center;
    }

    &-links-social>li:nth-child(1) {
        padding-left: 0;
    }

    &-company-text,
    &-company-title h2,
    &-company-title svg,
    &-about-text {
        text-align: center;
        opacity: 0.6;
    }

    &-about-text {
        opacity: 0.6;
    }

    &-links {
        @extend %flex-row;
        justify-content: space-between;
        align-items: center;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        &-social-item {
            padding: 0 0.4rem;

            svg {
                height: 1.25rem;
                width: auto;
                opacity: 0.6;

                &:hover {
                    opacity: 1;
                }
            }
        }

        &-various-item {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            a {
                opacity: 0.6;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    @include respond-to('breakpoint-768') {
        font-size: calc(1 * $font-size-text);

        hr {
            margin: 0 2.5rem;
        }

        &-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 2.5rem;
        }

        &-contact,
        &-company {
            padding: 2rem 0;
        }

        &-links {
            padding-left: 2.5rem;
            padding-right: 2.5rem;

            &-social-item {
                padding: 0 0.75rem;

                svg {
                    height: 1.6rem;
                }
            }
        }
    }

    @include respond-to('breakpoint-1400') {
        display: none;
    }
}
