nav {
    height: 100vh;
    width: 0;
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--color-secondary);
    color: var(--color-text);
    overflow-x: hidden;
    transition: width 0.5s;
    display: block;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
}

.navigation__container {
    overflow-x: hidden;

    .navigation__content-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    display: flex;
    flex-direction: column;
    text-transform: uppercase;

    hr {
        align-items: center;
        border: 0.1rem solid var(--color-text);
        margin: 0 1.5rem;
    }

    .language-icons {
        border: 0.1rem solid var(--color-text);
        border-radius: 100%;
    }

    .btn {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 2.5rem;
        background-color: var(--color-primary);
        width: 50%;
        z-index: 10;
    }

    &-list {
        padding: 0 1.5rem;

        .link-effects {
            &:hover {
                transform: scale(1.01);
            }

            &:active {
                @include animation-pressed(0.9);
            }
        }

        &-item {
            font-size: calc(0.75 * $font-size-h2);
            margin-bottom: 1rem;

            &-about {
                display: flex;
                flex-direction: column;

                .link-effects {
                    &:active {
                        animation: none !important;
                    }
                }

                &-title {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }

                svg{
                    height: 1.6rem;
                    width: auto;
                }

                &-dropdown {
                    display: block;
                    max-height: 0;
                    opacity: 0;
                    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
                    padding: 0;
                    margin: 0;
                    list-style-type: none;
                    background-color: var(--color-primary);
                    border-left: solid 0.01rem var(--color-text);
                    border-right: solid 0.01rem var(--color-text);
                    text-transform: none;
                    overflow: hidden;

                    &.active {
                        max-height: 300px;
                        opacity: 1;
                    }

                    li {
                        border-bottom: solid 0.01rem var(--color-text);
                        padding: 0.5rem;
                        font-size: calc(0.55 * $font-size-h2);
                        margin: 0;

                        &:first-child {
                            border-top: solid 0.01rem var(--color-text);
                        }

                        &:hover {
                            background-color: var(--color-tertiary);
                        }

                        svg {
                            height: 1.05rem;
                            width: auto;
                            margin-right: 0.25rem;
                        }
                    }
                }
            }
        }
    }

    &-settings {
        padding: 1.5rem;

        &-item {
            font-size: calc(0.75 * $font-size-h2);
            margin-bottom: 1rem;
            @include flex-container(row, space-between, center);

            svg {
                height: 1.35rem;
                width: 1.35rem;
            }
        }
    }

    @include respond-to('breakpoint-768') {
        &-list {
            &-item {
                font-size: calc(0.8 * $font-size-h2);

                &-about {
                    &-dropdown {
                        li {
                            font-size: calc(0.6 * $font-size-h2);
                        }
                    }
                }
            }
        }

        &-settings {
            &-item {
                font-size: calc(0.8 * $font-size-h2);
            }
        }
    }
}