body {
    font-family: $font-family-poppins;
    font-weight: 500;
    line-height: 1.6;
    font-size: $font-size-text;
    color: var(--color-text);

    @include respond-to('breakpoint-576') {
        font-size: 1rem;
    }

    @include respond-to('breakpoint-768') {
        font-size: 1.05rem;
    }

    @include respond-to('breakpoint-992') {
        font-size: 1.1rem;
    }

    @include respond-to('breakpoint-1200') {
        font-size: 1.15rem;
    }
}

h1 {
    font-family: $font-family-chivo;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    font-size: $font-size-h1;

    @include respond-to('breakpoint-576') {
        font-size: 2.25rem;
    }

    @include respond-to('breakpoint-768') {
        font-size: 2.5rem;
    }

    @include respond-to('breakpoint-992') {
        font-size: 3rem;
        line-height: 1.15;
    }

    @include respond-to('breakpoint-1200') {
        font-size: 3.5rem;
        line-height: 1.1;
    }
}

h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-montserrat;
    font-weight: 600;
    line-height: 1.3;
    text-transform: uppercase;
}

h2 {
    font-size: $font-size-h2;

    @include respond-to('breakpoint-576') {
        font-size: 2rem;
    }

    @include respond-to('breakpoint-768') {
        font-size: 2.25rem;
    }

    @include respond-to('breakpoint-992') {
        font-size: 2.75rem;
    }

    @include respond-to('breakpoint-1200') {
        font-size: 3rem;
    }
}

h3 {
    font-size: $font-size-h3;

    @include respond-to('breakpoint-576') {
        font-size: 1.75rem;
    }

    @include respond-to('breakpoint-768') {
        font-size: 2rem;
    }

    @include respond-to('breakpoint-992') {
        font-size: 2.5rem;
    }

    @include respond-to('breakpoint-1200') {
        font-size: 2.75rem;
    }
}

h4 {
    font-size: $font-size-h4;

    @include respond-to('breakpoint-576') {
        font-size: 1.5rem;
    }

    @include respond-to('breakpoint-768') {
        font-size: 1.75rem;
    }

    @include respond-to('breakpoint-992') {
        font-size: 2.1rem;
    }

    @include respond-to('breakpoint-1200') {
        font-size: 2.25rem;
    }
}

h5 {
    font-size: $font-size-h5;

    @include respond-to('breakpoint-576') {
        font-size: 1.25rem;
    }

    @include respond-to('breakpoint-768') {
        font-size: 1.5rem;
    }

    @include respond-to('breakpoint-992') {
        font-size: 1.8rem;
    }

    @include respond-to('breakpoint-1200') {
        font-size: 2rem;
    }
}

h6 {
    font-size: $font-size-h6;

    @include respond-to('breakpoint-576') {
        font-size: 1.1rem;
    }

    @include respond-to('breakpoint-768') {
        font-size: 1.25rem;
    }

    @include respond-to('breakpoint-992') {
        font-size: 1.6rem;
    }

    @include respond-to('breakpoint-1200') {
        font-size: 1.75rem;
    }
}
