header {
    z-index: 900;
}

nav {
    z-index: 1001;
}

.popup {
    z-index: 500;
}

.overlay {
    z-index: 999;
}

.home-reviews__container {
    &-carousel {
        &-item {
            z-index: 20;
        }
    }
}
