<div id="home-reviews-popup" class="home-reviews__container-popup-add-review popup active" data-reviews-popup-target="reviewsPopup">
    <button class="btn-close-home-reviews-popup home-reviews__container-popup-add-review-btn-close" type="button" aria-label="Fermer la fenêtre"
    data-reviews-popup-target="closeButton" data-action="click->reviews-popup#close">
        <svg class="icon-effects" role="img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
    </button>
    <h2 class="home-reviews__container-popup-add-review-title">Publier un avis</h2>
    <form class="home-reviews__container-popup-add-review-form" action="#" method="post">
        <div class="form-identity-group">
            <span>Identité*</span>
            <div>
                <label for="form-popup-add-review-firstname" hidden>Prénom</label>
                <input type="text" id="form-popup-add-review-firstname" name="form-popup-add-review-firstname" placeholder="Prénom" required>
                <label for="form-popup-add-review-name" hidden>Nom</label>
                <input type="text" id="form-popup-add-review-name" name="form-popup-add-review-name" placeholder="Nom" required>
            </div>
        </div>
        <div class="form-group">
            <label for="form-popup-add-review-email">Email*</label>
            <input type="email" id="form-popup-add-review-email" name="form-popup-add-review-email" placeholder="Email" required>
        </div>
        <div class="form-group">
            <label for="form-popup-add-review-company">Société/Entité (facultatif)</label>
            <input type="text" id="form-popup-add-review-company" name="form-popup-add-review-company" placeholder="Société ou entité">
        </div>
        <div class="form-group">
            <label for="form-popup-add-review-role">Poste/Rôle (facultatif)</label>
            <input type="text" id="form-popup-add-review-role" name="form-popup-add-review-role" placeholder="Poste ou rôle">
        </div>
        <div class="form-group">
            <label for="form-popup-add-review-message">Message/Citation*</label>
            <textarea id="form-popup-add-review-message" name="form-popup-add-review-message" placeholder="Message ou citation" required></textarea>
        </div>
        <div class="home-reviews__container-popup-add-review-form-btn">
            <button class="btn" type="submit" aria-label="Envoyer le message">
                Publier
            </button>
            <button class="btn-close-home-reviews-popup btn" type="button" aria-label="Fermer la fenêtre"
            data-reviews-popup-target="closeButton" data-action="click->reviews-popup#close">
                Annuler
            </button>
        </div>
        <div class="form-infos">
            <p>
                *Les données saisies dans ce formulaire sont stockées et utilisées uniquement pour afficher les avis sur ce site.
            </p>
            <p>
                *Votre email ne sera pas visible et votre identité sera affichée sous forme d'initial (exemple : John D.).
            </p>
        </div>
    </form>
</div>
