{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/css/home.css') }}">
{% endblock %}

{% block title %}Main Page{% endblock %}

{% block content %}

<div class="example-wrapper">
<h1>Hello World</h1>
</div>
{% endblock %}
