{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/css/home.css') }}">
{% endblock %}

{% block title %}{{ 'page_home_title' | trans }} | gaelpaquien.com{% endblock %}

{% block content %}
    <div>
        <h2>Index</h2>
    </div>
{% endblock %}
