{% extends 'base.html.twig' %}

{% block title %}Mentions légales | gaelpaquien.com{% endblock %}

{% block content %}
    <div class="example-wrapper">
        <h2>Mentions légales</h2>
    </div>
{% endblock %}
