{% extends 'base.html.twig' %}

{% block title %}{{ 'page_legal_notice_title' | trans }} | gaelpaquien.com{% endblock %}

{% block content %}
    <div>
        <h2>Mentions légales</h2>
    </div>
{% endblock %}
