{% extends 'base.html.twig' %}

{% block title %}{{ 'page_privacy_policy_title' | trans }} | gaelpaquien.com{% endblock %}

{% block content %}
    <div>
        <h2>Politique de confidentialité</h2>
    </div>
{% endblock %}
