{% extends 'base.html.twig' %}

{% block title %}Conditions générales d'utilisation | gaelpaquien.com{% endblock %}

{% block content %}
    <div class="example-wrapper">
        <h2>Conditions générales d'utilisation</h2>
    </div>
{% endblock %}
