<div id="home-reviews-popup" class="home-reviews__container-popup-add-review popup active"
     data-reviews-popup-target="reviewsPopup"
>
    <button class="btn-close-home-reviews-popup home-reviews__container-popup-add-review-btn-close" type="button" aria-label="Fermer la fenêtre"
        data-reviews-popup-target="closeButton"
        data-action="click->reviews-popup#close"
    >
        {% embed 'assets/svg/cross.html.twig' %}
            {% block attributes %}
                class="icon-effects"
                aria-hidden="true"
            {% endblock %}
        {% endembed %}
    </button>
    <h2 class="home-reviews__container-popup-add-review-title">Publier un avis</h2>
    <form class="home-reviews__container-popup-add-review-form" action="#" method="post">
        <div class="form-identity-group">
            <span>Identité*</span>
            <div>
                <label for="form-popup-add-review-firstname" hidden>Prénom</label>
                <input type="text" id="form-popup-add-review-firstname" name="form-popup-add-review-firstname" placeholder="Prénom" required>
                <label for="form-popup-add-review-name" hidden>Nom</label>
                <input type="text" id="form-popup-add-review-name" name="form-popup-add-review-name" placeholder="Nom" required>
            </div>
        </div>
        <div class="form-group">
            <label for="form-popup-add-review-email">Email*</label>
            <input type="email" id="form-popup-add-review-email" name="form-popup-add-review-email" placeholder="Email" required>
        </div>
        <div class="form-group">
            <label for="form-popup-add-review-company">Société/Entité (facultatif)</label>
            <input type="text" id="form-popup-add-review-company" name="form-popup-add-review-company" placeholder="Société ou entité">
        </div>
        <div class="form-group">
            <label for="form-popup-add-review-role">Poste/Rôle (facultatif)</label>
            <input type="text" id="form-popup-add-review-role" name="form-popup-add-review-role" placeholder="Poste ou rôle">
        </div>
        <div class="form-group">
            <label for="form-popup-add-review-message">Message/Citation*</label>
            <textarea id="form-popup-add-review-message" name="form-popup-add-review-message" placeholder="Message ou citation" required></textarea>
        </div>
        <div class="home-reviews__container-popup-add-review-form-btn">
            <button class="btn" type="submit" aria-label="Envoyer le message">
                Publier
            </button>
            <button class="btn-close-home-reviews-popup btn" type="button" aria-label="Fermer la fenêtre"
                data-reviews-popup-target="closeButton"
                data-action="click->reviews-popup#close"
            >
                Annuler
            </button>
        </div>
        <div class="form-infos">
            <p>*Les données saisies dans ce formulaire sont stockées et utilisées uniquement pour afficher les avis sur ce site.</p>
            <p>*Votre email ne sera pas visible et votre identité sera affichée sous forme d'initial (exemple : John D.).</p>
        </div>
    </form>
</div>