<section id="home-contact" class="home-contact__container">
    <div class="fade-in-effects-initial"
        data-animation-fade-in-target="fadeIn"
        data-animation="fade-in-up-effects"
    >
        <div class="section-title link-effects home-contact__container-title"
            data-action="click->scroll#scrollToSection"
            data-target="home-contact"
        >
            {% embed 'assets/svg/discussion.html.twig' %}
                {% block attributes %}
                    role="button"
                    aria-labelledby="home-contact__container-title-h2"
                {% endblock %}
            {% endembed %}
            <h2 id="home-contact__container-title-h2">{{ 'page_home_contact_title' | trans }}</h2>
        </div>
    </div>

    <form class="fade-in-effects-initial home-contact__container-form" action="#" method="post"
        data-animation-fade-in-target="fadeIn"
        data-animation="fade-in-up-effects"
    >
        <div class="form-identity-group">
            <span>Identité*</span>
            <div>
                <label for="form-contact-firstname" hidden>Prénom</label>
                <input type="text" id="form-contact-firstname" name="form-contact-firstname" placeholder="Prénom" required>
                <label for="form-contact-name" hidden>Nom</label>
                <input type="text" id="form-contact-name" name="form-contact-name" placeholder="Nom" required>
            </div>
        </div>
        <div class="form-group">
            <label for="form-contact-email">Email*</label>
            <input type="email" id="form-contact-email" name="form-contact-email" placeholder="Email" required>
        </div>
        <div class="form-group">
            <label for="form-contact-phone">Téléphone (facultatif)</label>
            <input type="tel" id="form-contact-phone" name="form-contact-phone" placeholder="Téléphone">
        </div>
        <div class="form-group">
            <label for="form-contact-subject">Sujet*</label>
            <input type="text" id="form-contact-subject" name="form-contact-subject" placeholder="Sujet du message" required>
        </div>
        <div class="form-group">
            <label for="form-contact-message">Message*</label>
            <textarea id="form-contact-message" name="form-contact-message" placeholder="Message" required></textarea>
        </div>
        <div class="form-group">
            <label for="form-contact-attachment">Joindre des fichiers (facultatif)</label>
            <input type="file" id="form-contact-attachment" name="form-contact-attachment" aria-label="Joindre des fichiers">
        </div>
        <div class="form-switch">
            <span class="form-switch-text">Recevoir une copie du message</span>
            <label for="form-switch-message" class="form-switch-toggle">
                <input type="checkbox" id="form-switch-message" name="form-switch-message" aria-label="Recevoir une copie du message">
                <span class="form-switch-toggle-slider"></span>
            </label>
        </div>
        <button class="btn" type="submit" aria-label="Envoyer le message">
            Envoyer le message
        </button>
        <div class="form-infos">
            <p>*Les données saisies dans ce formulaire ne sont pas stockées et ne sont utilisées que pour vous répondre.</p>
        </div>
    </form>

    {% include "components/buttons/btn-scroll-to-next-section.html.twig" with {
        'data_target': '#footer',
        'aria_label': 'page_home_contact_scrollToNext_aria' | trans
    } %}
</section>