<section id="home-portfolio" class="home-portfolio__container">
    <div class="fade-in-effects-initial"
         data-animation-fade-in-target="fadeIn"
         data-animation="fade-in-up-effects"
    >
        <div class="section-title link-effects home-portfolio__container-title"
             data-action="click->scroll#scrollToSection"
             data-target="home-portfolio"
        >
            {% embed 'assets/svg/folder.html.twig' %}
                {% block attributes %}
                    aria-labelledby="home-portfolio__container-title-h2"
                {% endblock %}
            {% endembed %}
            <h2 id="home-portfolio__container-title-h2">{{ 'page_home_portfolio_title' | trans }}</h2>
        </div>
    </div>

    <div class="home-portfolio__container-projects"
         data-controller="portfolio-card"
    >
        {% for project in projects|sort((a, b) => a.order <=> b.order) %}
            {% include "components/home/portfolio/card.html.twig" with {
                'title': project.title,
                'description': project.description,
                'image': project.image,
                'tags': project.tags
            } %}
        {% endfor %}
    </div>

    {% include "components/buttons/btn-scroll-to-next-section.html.twig" with {
        'data_target': '#home-reviews',
        'aria_label': 'reviews_aria' | trans
    } %}
</section>