{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Tableau de bord{% endblock %}

{% block main %}
    <p>Bienvenue dans l'interface d'administration de gaelpaquien.com.</p>
    <p>Utilise le menu de gauche pour gérer les projets en vedette, les articles de blog et les avis.</p>
{% endblock %}
