<div class="btn-return-to-home" class="fade-in-effects-initial" 
data-controller="animation-fade-in" data-animation="fade-in-up-effects">
    <button class="btn" type="button" aria-label="Retourner vers la page d'accueil"
    data-controller="redirect" data-action="click->redirect#redirectToUrl" data-redirect-url-value="{{ path('app_main_index') }}">
        Retourner vers l'accueil
    </button>
</div>
