.errors-pages__container {
    background-color: var(--color-secondary);
    @include flex-container(column, space-around, center);

    &-content {
        font-size: $font-size-text;
        text-align: center;

        @include respond-to('breakpoint-576') {
            font-size: calc(1.2 * $font-size-text);
        }

        @include respond-to('breakpoint-768') {
            font-size: calc(1.4 * $font-size-text);
        }

        @include respond-to('breakpoint-992') {
            font-size: calc(1.6 * $font-size-text);
        }

        @include respond-to('breakpoint-1200') {
            font-size: calc(1.8 * $font-size-text);
        }
    }
}
