.legal-pages__container {
    background-color: var(--color-secondary);
    @include flex-container(column, center, center);
    gap: 2.5rem;

    .section-title {
        margin: 0;
    }

    &-block {
        background-color: var(--color-primary);
        border: solid 0.1rem var(--color-text);
        border-radius: 0.5rem;
        padding: 1rem;
        width: 100%;

        @include respond-to('breakpoint-1200') {
            width: 75%;
        }

        a {
            text-decoration: underline;

            &:hover {
                opacity: 0.8;
            }
        }

        ul {
            list-style: initial;
        }

        li {
            margin-left: 1rem;
        }

        &-title {
            font-size: calc(0.6 * $font-size-h3);

            @include respond-to('breakpoint-768') {
                font-size: $font-size-h3;
            }
        }

        &-content {
            margin-top: 0.5rem;
            font-size: calc(0.8 * $font-size-text);

            @include respond-to('breakpoint-768') {
                font-size: $font-size-text;
            }
        }
    }
}
