.post-review__container {
  background-color: var(--color-secondary);
  @include flex-container(column, space-between, center);

  &-form {
    background-color: var(--color-primary);

    input,
    textarea {
      background-color: var(--color-secondary);
      color: var(--color-text);
    }

    button {
      background-color: var(--color-secondary);
    }
  }
}