.sitemap-page__container {
    background-color: var(--color-secondary);
    @include flex-container(column, space-around, center);

    &-urls-list {
        @extend %flex-column;

        &-item {
            button {
                width: 100%;
                margin-bottom: 2.5rem;
                background-color: var(--color-primary);
                font-size: calc(0.75 * $font-size-text);

                @include respond-to('breakpoint-768') {
                    font-size: $font-size-text;
                }
            }
        }
    }

    .btn-return-to-home {
        margin-top: 1.5rem;
    }
}
