// Font Family
$font-family-primary: 'Madimi One', sans-serif;
$font-family-secondary: 'Chivo', sans-serif;
$font-family-text: 'Poppins', sans-serif;

// Font Size
$font-size-text: 1rem;
$font-size-h1: 2rem;
$font-size-h2: 1.75rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.25rem;
$font-size-h5: 1.125rem;
$font-size-h6: 1rem;

// Colors
$color-primary: #061128;
$color-secondary: #0B1935;
$color-tertiary: #3A4464;
$color-text: #ffffff;
