.blog-post {
  background-color: var(--color-secondary);
  @include flex-container(column, space-around, center);
  max-width: 50%;
  margin: 0 auto;

  &__header {
    &-title {
      font-size: calc(1.6 * $font-size-h2);
      text-transform: none;
      line-height: 1.2;
      margin-bottom: 1.5rem;
    }

    &-image {
      margin-bottom: 1.5rem;

      img {
        width: 100%;
        object-fit: cover;
        display: block;
        aspect-ratio: 16/9;
        border-radius: 1rem;
        border: 0.15rem solid var(--color-text);
      }
    }

    &-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;
      cursor: default;
      margin-bottom: 1.25rem;
    }
  }

  &__tag {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    border-radius: 2rem;
    font-size: 0.85rem;
    background-color: var(--color-primary);
    color: var(--color-text-contrast);
    margin-bottom: 0.25rem;
  }

  &__content {
    font-size: calc(1.1 * $font-size-text);

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: linear-gradient(to right, transparent, var(--color-text) 50%, transparent);
      margin: 1.5rem 0;
    }
  }

  &__links {
    margin-bottom: 1.5rem;

    &-title {
      font-size: calc(1.2 * $font-size-h3);
      margin-bottom: 0.5rem;
      text-transform: none;
    }

    &-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &-item {
      margin-bottom: 0.25rem;
    }

    &-link {
      display: inline-block;
      text-decoration: none;
      color: var(--color-text);
      position: relative;
      padding-left: 1.25rem;

      &::before {
        content: '→';
        position: absolute;
        left: 0;
      }

      &:hover {
        opacity: 0.8;
        transform: scale(1.05);
        transition: transform 0.5s ease-in-out;
        will-change: transform, opacity;
      }

      &:active {
        @include animation-pressed(0.9);
      }
    }
  }

  &__footer {
    position: relative;
    padding-top: 1.5rem;
    margin-bottom: 2rem;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: linear-gradient(to right, transparent, var(--color-text) 50%, transparent);
    }

    &-date {
      font-size: 0.9rem;
      color: var(--color-text-muted);
      margin: 0;
      font-style: italic;
    }
  }

  .btn-return-to-home {
    margin-top: 2.5rem;
    @include flex-container(column, center, center);
  }
}