:root {
    --color-primary: #0a111f;
    --color-primary-r: 10;
    --color-primary-g: 17;
    --color-primary-b: 31;

    --color-secondary: #0f192e;
    --color-secondary-r: 15;
    --color-secondary-g: 25;
    --color-secondary-b: 46;

    --color-tertiary: #1c263c;
    --color-tertiary-r: 28;
    --color-tertiary-g: 38;
    --color-tertiary-b: 60;

    --color-text: #EAEAEA;
    --color-text-r: 234;
    --color-text-g: 234;
    --color-text-b: 234;
}
