@font-face {
    font-family: 'Madimi One';
    src: url('/assets/fonts/MadimiOne-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Chivo';
    src: url('/assets/fonts/Chivo-SemiBold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Medium.woff2') format('woff2');
    font-display: swap;
}
